body{
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
}
  
.loginForm_contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    height: 100vh;
    width: 100%;
    justify-items: center;
    margin-top: 150px;
}


.loginForm_form {
    padding: 50px;
    background-color: rgb(255, 255, 255);   
    border: 3px solid rgb(44, 44, 44);
    margin-bottom: 200px;
}
  
  
.loginForm_contenedor-boton {
    display: flex;
    justify-content: center;
}
  
.loginForm_boton {
    width: 40%;
    padding: 5px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(44, 44, 44);
    font-size: 15px;
    color: rgb(66, 66, 66); 
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  
.loginForm_boton:hover {
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
}
  
.loginForm_footer{
    width: 100%;  
}