
.case_contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    width: 100%;
    justify-items: center;
    height: auto; /* Cambio de 50vh a auto */
}


.case_contenedor-titulo{
    width: 80%;
    margin-top: 50px;
}

.case_contenedor-tabla {
    width: 75%;
    max-height: 300px; /* Establece aquí la altura máxima deseada */
    overflow: auto;
}

.case_tabla{
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(44, 44, 44);
    font-size: 18px;
    
    text-align: center;

    
}

.case_tabla thead th {
    position: sticky;
    top: 0;
}
  
.case_tabla th {
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    padding: 15px;
}
  
.case_tabla td {
    color: rgb(66, 66, 66);
    padding: 15px;
    transition: background-color 0.3s ease;
}

.case_tabla tr:nth-child(odd) td {
    background-color: rgb(255, 255, 255);
}
  
.case_tabla tr:nth-child(even) td {
    background-color: rgb(240, 240, 240);
}

.case_tabla tr:hover td{
    background-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
}

.case_boton-agregar button{
  width: 150px;
  margin-bottom: 150px;
}

.case_boton-cancelar button{
    margin-bottom: 150px;
    width: 150px;
}

.case_footer{
    width: 100%;  
}