.casePoints_contenedor{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    height: auto;
    width: 100%;
    justify-items: center;
}

.casePoints_titulo{
    display: flex;
    width: 80%;
    margin-top: 50px;
}

.casePoints_titulo-principal{
    font-weight: bold;

}

.casePoints_titulo-secundario{
    
    color: rgb(88, 88, 88);
}

.casePoints_titulo-secundario:hover{
  cursor: default;
    color: rgb(0, 0, 0);
}

.casePoints_contenedor-usuario{ 
    padding: 10px;
    
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(44, 44, 44);
}

.casePoints_usuario{
    width: 50vw;
    font-size: 20px; 
    color: rgb(66, 66, 66); 
    font-family: Arial, sans-serif;
    text-align: center;
}


.casePoints_contenedor-datos {
    width: 85vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    justify-content: center;
    padding-bottom: 200px;
}
  
.casePoints_contenedor-tabla {
    grid-column: 1/3; 
    text-align: center;
    overflow: auto;
    
}

.casePoints_contenedor-mapa {
    grid-column: 3/4;
}

.casePoints_tabla {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(44, 44, 44);
    font-size: 18px;
}

.casePoints_tabla th {
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    padding: 15px;
}
  
.casePoints_tabla td {
    color: rgb(66, 66, 66);
    padding: 15px;
    transition: background-color 0.3s ease;
}

.casePoints_tabla tr:nth-child(odd) td {
    background-color: rgb(255, 255, 255);
}
  
.casePoints_tabla tr:nth-child(even) td {
    background-color: rgb(240, 240, 240);
}

.casePoints_tabla tr:hover td{
    background-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
}

.casePoints_footer{
    width: 100%;  
}
