.dropdown_label{
    font-size: 18px; 
    color: rgb(66, 66, 66); 
    font-family: Arial, sans-serif;
    padding: 10px;
}

.dropdown_menu{
    font-size: 20px; 
    width: 100%;
    padding: 1px;
    color: rgb(115, 115, 115); 
    border-color: rgb(110, 110, 110);
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    margin-top: 5px; 
    border: 2px solid rgb(66, 66, 66);
}
