.createCase_contenedor{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    height: 50vh;
    width: 100%;
    justify-items: center;
    
}

.createCase_titulo{
    width: 80%;
    margin-top: 50px;
}

.createCase_contenedor-participantes{
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    justify-content: center;
    padding-bottom: 20px;
}

.createCase_participante{
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(44, 44, 44);
}

.createCase_contenedor-participante-info {
    text-align: center;
    font-size: 20px;
    color: rgb(66, 66, 66); 
    font-weight: bold;
    
}



.createCase_contenedor-tabla {
    text-align: center;
    height: 50%;
    
  overflow: auto;
}

.createCase_tabla {
    width: 100%;
    
    border-collapse: collapse;
    border: 3px solid rgb(44, 44, 44);
    font-size: 18px;
}

.createCase_tabla thead th {
    position: sticky;
    top: 0;
}

.createCase_tabla th {
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    padding: 15px;
}
  
.createCase_tabla td {
    color: rgb(66, 66, 66);
    padding: 15px;
    transition: background-color 0.3s ease;
}

.createCase_tabla tr:nth-child(odd) td {
    background-color: rgb(255, 255, 255);
}
  
.createCase_tabla tr:nth-child(even) td {
    background-color: rgb(240, 240, 240);
}

.createCase_tabla tr:hover td{
    background-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
}


.createCase_contenedor-boton-participantes{
    margin-bottom: 20px;
}



.createCase_contenedor-form{
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.createCase_form{
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(44, 44, 44);
    margin-bottom: 200px;
}


.createCase_contenedor-boton{
    display: flex;
    justify-content: center;
}

.createCase_boton {
    width: 40%;
    padding: 5px;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(44, 44, 44);
    font-size: 15px;
    color: rgb(66, 66, 66); 
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  
.createCase_boton:hover {
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
}

.createCase_input-container{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.createCase_input-label{
    font-size: 18px; 
    color: rgb(66, 66, 66); 
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
}

.createCase_input{
    width: 80%;
    font-size: 20px; 
    color: rgb(66, 66, 66); 
    border-color: rgb(110, 110, 110);
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createCase_footer{
    width: 100%;  
}