.createZone_contenedor{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    height: 50vh;
    width: 100%;
    justify-items: center;
}

.createZone_titulo{
    width: 80%;
    margin-top: 50px;
}

.createZone_form{
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(44, 44, 44);
    margin-bottom: 200px;
}

.createZone_contenedor-boton{
    display: flex;
    justify-content: center;
}

.createZone_boton {
    width: 40%;
    padding: 5px;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(44, 44, 44);
    font-size: 15px;
    color: rgb(66, 66, 66); 
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  
.createZone_boton:hover {
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
}


.createZone_footer{
    width: 100%;  
}

